<h2 class="vl-w-title vl-w-title--section">
  <button type="button" {{on "click" this.openModal}} class="vl-w-link vl-w-link--button vl-w-card__link" aria-open>
    {{@title}}
  </button>
</h2>

{{#if this.modalOpen}}
<EmberWormhole @to={{this.destinationElementId}}>
<div class="vl-w-modal-background {{if this.modalOpen "is-visible"}}" role="presentation"></div>
<div id="{{@id}}" class="vl-w-modal {{if this.modalOpen "" "is-hidden"}} {{@theme}}" role="dialog" aria-describedby="vl-w-modal-title-{{@id}}" tabindex="-1" {{focus-trap isActive=this.modalOpen focusTrapOptions=(hash onDeactivate=(fn this.closeModal) clickOutsideDeactivates=true)}}>
  <div class="vl-w-modal__header">
    <h1 id="vl-w-modal-title-{{@id}}" class="vl-w-title vl-w-title--modal vl-u-margin-bottom-none" tabindex="-1">{{@title}}</h1>
    <button type="button" {{on "click" this.closeModal}} class="vl-w-link vl-w-link--neutral vl-w-link--button">
      Venster sluiten
    </button>
  </div>
  <div class="vl-w-modal__body" >
    <div class="vl-o-box">
      {{yield}}
      <div class="vl-w-cta">
        <p class="vl-w-small">Verkeerde info of aanvulling? <a href="https://toevla.vlaanderen.be/publiek/nl/Startpagina/Reactie" class="vl-w-link">Contacteer Toevla</a></p>
      </div>
    </div>
  </div>
</div>
</EmberWormhole>
{{/if}}