<button type="button" {{on "click" this.openModal}} class="au-w-button-link au-w-button-link--block" aria-open="{{if this.modalOpen "true" "false"}}">
  {{#if @check}}
  <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--active" viewBox="0 0 44 44" aria-hidden="true">
    <path d="M22,3.66666667 C11.8708333,3.66666667 3.66666667,11.8708333 3.66666667,22 C3.66666667,32.12 11.8708333,40.3333333 22,40.3333333 C32.12,40.3333333 40.3333333,32.12 40.3333333,22 C40.3333333,11.8708333 32.12,3.66666667 22,3.66666667 Z M18.3333333,31.1666667 L9.16666667,22 L11.7608333,19.4058333 L18.3333333,25.9783333 L32.2391667,12.0725 L34.8333333,14.6666667 L18.3333333,31.1666667 Z"/>
  </svg>
  {{else}}
    {{#if @info}}
    <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--faded" viewBox="0 0 44 44">
      <path d="M20.1666667,31.1666667 L23.8333333,31.1666667 L23.8333333,20.1666667 L20.1666667,20.1666667 L20.1666667,31.1666667 Z M22,3.66666667 C11.8708333,3.66666667 3.66666667,11.8708333 3.66666667,22 C3.66666667,32.1291667 11.8708333,40.3333333 22,40.3333333 C32.1291667,40.3333333 40.3333333,32.1291667 40.3333333,22 C40.3333333,11.8708333 32.1291667,3.66666667 22,3.66666667 Z M22,36.6666667 C13.915,36.6666667 7.33333333,30.085 7.33333333,22 C7.33333333,13.915 13.915,7.33333333 22,7.33333333 C30.085,7.33333333 36.6666667,13.915 36.6666667,22 C36.6666667,30.085 30.085,36.6666667 22,36.6666667 Z M20.1666667,16.5 L23.8333333,16.5 L23.8333333,12.8333333 L20.1666667,12.8333333 L20.1666667,16.5 Z"/>
    </svg>
    {{else}}
      <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--alert" viewBox="0 0 44 44" aria-hidden="true">
        <path d="M22,3.66666667 C32.1291667,3.66666667 40.3333333,11.8708333 40.3333333,22 C40.3333333,32.1291667 32.1291667,40.3333333 22,40.3333333 C11.8708333,40.3333333 3.66666667,32.1291667 3.66666667,22 C3.66666667,11.8708333 11.8708333,3.66666667 22,3.66666667 Z M22,7.33333333 C13.915,7.33333333 7.33333333,13.915 7.33333333,22 C7.33333333,30.085 13.915,36.6666667 22,36.6666667 C30.085,36.6666667 36.6666667,30.085 36.6666667,22 C36.6666667,13.915 30.085,7.33333333 22,7.33333333 Z M32.5,19.9585003 L32.5,24.0414997 L11.5,24.0414997 L11.5,19.9585003 L32.5,19.9585003 Z"/>
      </svg>
    {{/if}}
  {{/if}}
  <span class="au-w-button-link__text">
    {{@title}}
  </span>
</button>

{{#if this.modalOpen}}
<EmberWormhole @to={{this.destinationElementId}}>
<div class="au-w-modal-background {{if this.modalOpen "is-visible"}}" role="presentation"></div>
<div id="{{@id}}" class="au-w-modal {{if this.modalOpen "is-visible"}} {{@theme}}" role="dialog" aria-describedby="au-w-modal-title-{{@id}}" tabindex="-1" {{focus-trap isActive=this.modalOpen focusTrapOptions=(hash onDeactivate=(fn this.closeModal) initialFocus=".au-w-modal__title" clickOutsideDeactivates=true)}}>
  <div class="au-w-modal__header">
    <h1 id="au-w-modal-title-{{@id}}" class="au-w-modal__title" tabindex="-1">
      {{#if @check}}
      <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--active" viewBox="0 0 44 44" aria-hidden="true">
        <path d="M22,3.66666667 C11.8708333,3.66666667 3.66666667,11.8708333 3.66666667,22 C3.66666667,32.12 11.8708333,40.3333333 22,40.3333333 C32.12,40.3333333 40.3333333,32.12 40.3333333,22 C40.3333333,11.8708333 32.12,3.66666667 22,3.66666667 Z M18.3333333,31.1666667 L9.16666667,22 L11.7608333,19.4058333 L18.3333333,25.9783333 L32.2391667,12.0725 L34.8333333,14.6666667 L18.3333333,31.1666667 Z"/>
      </svg>
      {{else}}
      {{#if @info}}
      <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--faded" viewBox="0 0 44 44">
        <path d="M20.1666667,31.1666667 L23.8333333,31.1666667 L23.8333333,20.1666667 L20.1666667,20.1666667 L20.1666667,31.1666667 Z M22,3.66666667 C11.8708333,3.66666667 3.66666667,11.8708333 3.66666667,22 C3.66666667,32.1291667 11.8708333,40.3333333 22,40.3333333 C32.1291667,40.3333333 40.3333333,32.1291667 40.3333333,22 C40.3333333,11.8708333 32.1291667,3.66666667 22,3.66666667 Z M22,36.6666667 C13.915,36.6666667 7.33333333,30.085 7.33333333,22 C7.33333333,13.915 13.915,7.33333333 22,7.33333333 C30.085,7.33333333 36.6666667,13.915 36.6666667,22 C36.6666667,30.085 30.085,36.6666667 22,36.6666667 Z M20.1666667,16.5 L23.8333333,16.5 L23.8333333,12.8333333 L20.1666667,12.8333333 L20.1666667,16.5 Z"/>
      </svg>
      {{else}}
        <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--alert" viewBox="0 0 44 44" aria-hidden="true">
          <path d="M22,3.66666667 C32.1291667,3.66666667 40.3333333,11.8708333 40.3333333,22 C40.3333333,32.1291667 32.1291667,40.3333333 22,40.3333333 C11.8708333,40.3333333 3.66666667,32.1291667 3.66666667,22 C3.66666667,11.8708333 11.8708333,3.66666667 22,3.66666667 Z M22,7.33333333 C13.915,7.33333333 7.33333333,13.915 7.33333333,22 C7.33333333,30.085 13.915,36.6666667 22,36.6666667 C30.085,36.6666667 36.6666667,30.085 36.6666667,22 C36.6666667,13.915 30.085,7.33333333 22,7.33333333 Z M32.5,19.9585003 L32.5,24.0414997 L11.5,24.0414997 L11.5,19.9585003 L32.5,19.9585003 Z"/>
        </svg>
      {{/if}}
      {{/if}}
      <span class="au-w-button-link__text">
        {{@title}}
      </span>
    </h1>
    <button type="button" {{on "click" this.closeModal}} class="au-w-button-link au-w-button-link--neutral au-w-button-link--nowrap">
      Venster sluiten
    </button>
  </div>
  <div class="au-w-modal__body" >
    <div class="au-w-modal__content">
      {{yield}}
    </div>
  </div>
  <div class="au-w-modal__cta">
    <p class="au-w-small">Verkeerde info of heb je een aanvulling? <a href="https://toevla.vlaanderen.be/publiek/nl/Startpagina/Reactie" class="au-w-link">Contacteer Toevla</a></p>
  </div>
</div>
</EmberWormhole>
{{/if}}