<ul class="au-w-lightbox">
  {{#each (slice this.sortedImages 0 @preview) as |image|}}
    {{!-- {{image.id}} --}}
    <li class="au-w-lightbox__item">
      <button class="au-w-lightbox__image">
        <img src="/images/{{image.id}}?height=300" alt="Er zijn 2 aangepaste parkeerplaatsen dicht bij de alternatieve inkom.">
      </button>
    </li>
  {{/each}}
</ul>
<AuLightbox @buttonTitle="Bekijk alle foto's" @title="Fotorondleiding: De wereld van Kina - Het Huis" @id="{{@id}}fotos">
  {{#carousel-container transitionInterval=400 as |ui controls|}}
    {{#each this.sortedImages as |image index|}}
      <div class="au-w-carousel">
        {{#ui.item}}
          <figure class="au-w-carousel__figure">
            <img src="/images/{{image.id}}?height=600" alt="" class="au-w-carousel__image">
            <figcaption class="au-w-carousel__caption">
              <span class="au-w-carousel__pagination">Foto {{sum 1 index}}/{{this.images.length}}</span>
                {{image.label}}
            </figcaption>
          </figure>
        {{/ui.item}}
      </div>
    {{/each}}
    <button onclick={{controls.previous}} class="au-w-carousel__button au-w-carousel__button--next">
      <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--large" viewBox="0 0 44 44" aria-hidden="true">
        <polygon points="15.15 1.26 10.312 6.095 25.989 21.76 10.312 37.426 15.15 42.26 35.665 21.76"/>
      </svg>
      <span class="au-w-hidden-visually">Volgende foto</span>
    </button>
    <button onclick={{controls.next}} class="au-w-carousel__button au-w-carousel__button--previous">
      <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--large" viewBox="0 0 44 44" aria-hidden="true">
        <polygon points="33.762 38.426 18.057 22.76 33.762 7.095 28.915 2.26 8.362 22.76 28.915 43.26"/>
      </svg>
      <span class="au-w-hidden-visually">Vorige foto</span>
    </button>
  {{/carousel-container}}
</AuLightbox>