<div
  {{did-update this.getExperienceTreeNodeScore @experience.id}}
  {{did-update this.getExperienceTreeNodeScore @node.id}}
  {{did-insert this.getExperienceTreeNodeScore @experience.id}}
  {{did-insert this.getExperienceTreeNodeScore @node.id}}>

  {{yield this.experienceTreeNodeScore}}
</div>