<section class="au-w-container {{@theme}}">
  <div class="au-w-header">
    <h1 class="au-w-header__title">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon">
        <path d="M19.2396916,0 C8.61373915,0 0,8.61373915 0,19.2396916 C0,29.865644 8.61373915,38.4793832 19.2396916,38.4793832 C29.865644,38.4793832 38.4793832,29.865644 38.4793832,19.2396916 C38.4793832,8.61373915 29.8652582,0 19.2396916,0 Z M18.9479882,3.82108309 C20.3262482,3.82108309 21.4421295,4.93657851 21.4421295,6.30596394 C21.4421295,7.68422394 20.3262482,8.79971936 18.9479882,8.79971936 C17.5793745,8.79971936 16.463879,7.68383809 16.4631073,6.30596394 C16.4631073,4.93657851 17.5786028,3.82108309 18.9479882,3.82108309 Z M29.7298245,11.8564315 L22.3276577,12.7917345 L22.3307445,20.2016183 L25.9168443,32.1726476 C26.1062971,32.9285298 25.6517646,33.6847979 24.9039852,33.8715498 C24.1565917,34.0583017 23.3922207,33.6465986 23.2039254,32.8907164 L19.5302374,21.9935106 L18.3989221,21.9935106 L15.0192527,33.1168251 C14.7364238,33.842611 13.9280659,34.1763721 13.2030517,33.8935433 C12.4849829,33.6134154 12.0466561,32.7961829 12.3298707,32.070397 L15.4340426,20.3227755 L15.4340426,12.7917345 L8.61451085,11.8637627 C7.91457702,11.8074284 7.43920851,11.1912243 7.49631447,10.4912904 C7.54763266,9.78595468 8.18428691,9.26235479 8.88383489,9.31868904 L17.1692148,10.0321277 L20.8027743,10.0321277 L29.6256447,9.3047984 C30.3267361,9.27663128 30.9209467,9.82183883 30.9444836,10.5283321 C30.9726507,11.2298094 30.4313017,11.8274927 29.7298245,11.8564315 Z" transform="translate(2.75 2.5)"/>
      </svg>
      {{@title}}
    </h1>
    {{#if @category}}
    <p class="au-w-header__info">
      <span class="au-w-header__rating">{{@category}}</span> {{#if @rating}}<span class="au-w-header__rating au-w-header__rating--base">{{@rating}}</span>{{/if}}
    </p>
    {{/if}}
  </div>
  <ul class="au-w-grid au-w-grid--divider au-u-margin-bottom-small">
    <li class="au-w-grid__item">
      <h2 class="au-u-hidden-visually">Om er te geraken</h2>
      <AuModal @title="Openbaar vervoer" @id="{{@id}}openbaar-vervoer" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          Deze locatie is bereikbaar met het openbaar vervoer.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Halte aanwezig binnen 500 m" @check="true">
            <ul>
              <li>Tramhalte Spaarstraat, op 400m</li>
              <li>Bushalte Tolhuislaan, op 150m</li>
            </ul>
            <p><a href="https://www.delijn.be/nl/routeplanner/">De Lijn routeplanner</a></p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Toegankelijke halte" @check="true">
            <p class="au-w-info-text">Bushalte Tolhuislaan toegankelijk voor motorische beperking, niet voor visuele beperking</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijk pad naar inkom">
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Voorbehouden parkeerplaats" @id="{{@id}}parkeerplaats" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          Er is minstens één voorbehouden parkeerplaats met rolstoelvriendelijke ondergrond bij het uitstappen.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="1 voorbehouden plaats" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Ter hoogte van Tolhuislaan nr 107" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Op publiek domein" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijke ondergrond" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Achter elkaar parkeren: 400 cm">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijk pad naar de inkom" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Voorrijdmogelijkheid" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Goede verlichting op de route" @check="true">
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Fietsenstalling" @id="{{@id}}fietstenstalling" @check="true" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Niet overdekt">
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Fietsenstalling_Terras.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Aangepast">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijk pad naar inkom" @check="true">
          </AuCriteriaItem>
        </ul>
      </AuModal>
    </li>
    <li class="au-w-grid__item">
      <h2 class="au-u-hidden-visually">Algemene info en infrastructuur</h2>
      <AuModal @title="Museum - Bezoekersinfo" @id="{{@id}}bezoekersinfo" @theme="{{@theme}}" @info="true">
        <p class="au-w-info">
          Algemene Info & Tegemoetkomingen.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Begeleiding van aan het openbaar vervoer mogelijk">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Tegemoetkoming toegangsprijs" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Begeleider gratis" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Museumpas" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Uitpas (punten scannen)" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="City Pas Gent" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="EDC (European Disability Card) toegestaan" @check="true">
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoel ter beschikking">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Wifi beschikbaar" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Assistentiehonden : er zijn geen voorzieningen aanwezig">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Elektronische betaalmogelijkheid niet verplaatsbaar">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Website" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="WAI-WCAG 2.0 norm behaald" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Tekstvergroting mogelijk" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Contrasten" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Voorleesfunctie">
                <p class="au-w-info-text">Geen extra info beschikbaar.</p>
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Gebarentaal">
                <p class="au-w-info-text">Geen extra info beschikbaar.</p>
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Rolstoelvriendelijke inkom" @id="{{@id}}inkom" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          De inkombreedte is minstens 85 cm met max 1 trede van 10 cm.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Hoofdingang" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Drempel van 4cm">
              </AuCriteriaSubitem>
            </ul>
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Inkom2.jpg" alt="">
                </AuImage>
              </li>
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Inkom_drempel.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Deurbreedte >90 cm" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Toegangscontrole" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Geen tourniquetdeur" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Draairuimte aan deur" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Kracht van de deur" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Verlaagde balie" @check="true">
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/OnderrijdbareBalie.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Toegang duidelijk herkenbaar" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Gids- en/of geleidelijnen">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Extra aandacht voor akoestiek" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Bemande balie" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Ringleiding aan de balie">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Rolstoelvriendelijk toilet" @id="{{@id}}toilet" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Bereikbaar" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Deurbreedte 80cm" @check="true">
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Toilet_Niet-Aangepast.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Onvoldoende of geen draairuimte aan de deur">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Ruimte voor toiletpot 50 cm">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Ruimte naast toiletpot 00 cm">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Draairuimte in het toilet 00cm">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Geen steunbeugels">
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Toilet_Niet-Aangepast_Geen_Beugels.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Museum - Circulatie in het gebouw" @id="{{@id}}museumRondgang" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          Je kan het merendeel van de bedoelde activiteiten uitvoeren, met jouw beperking.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Rolstoelvriendelijke circulatie" @check="true">
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Circulatie.jpg" alt="">
                </AuImage>
              </li>
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Circulatie_tredes.jpg" alt="">
                </AuImage>
              </li>
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Circulatie_Terras_drempel.jpg" alt="">
                </AuImage>
              </li>
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Circulatie_Cafetaria.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Alles op gelijkvloers" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Alles Bereikbaar" @check="true">
          </AuCriteriaItem>
        </ul>
      </AuModal>
    </li>
    <li class="au-w-grid__item">
      <h2 class="au-u-hidden-visually">Beleving</h2>
      <AuModal @title="Museum - Beleving" @id="{{@id}}beleving" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          Je kan genieten van volgende voorzieningen.
        </p>
        <ul class="au-w-criterium-section-list">
          <ul class="au-w-criterium-list">
            <AuCriteriaItem @criterium="Rondleidingen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Voor personen met een visuele beperking" @check="true">
                  <p>Op aanvraag</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Voor personen met een auditieve beperking" @check="true">
                  <p>Op aanvraag</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Voor personen met een mentale beperking" @check="true">
                  <p>Op aanvraag</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Dementievriendelijk" @check="true"></AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Autisme-vriendeljk" @check="true"></AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Leeftijdaangepast: ouderen" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Leeftijdaangepast: kindvriendelijk" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Met beeldentolk">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Met Tolk Vlaamse Gebarentaal (VGT)">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Op rustige momenten" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Bezoek op maat mogelijk" @check="true">
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Museum route en zalen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Duidelijke bewegwijzering op de route" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Zalenplan/Museumplan/schema">
                  <p class="au-w-info-text">Speurboek voor kinderen (met Plan van de Tuin)</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Aanbevolen traject">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Alternatief voor niet toegankelijke ruimten" @check="true">
                  <p>Filmzaal</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Meerdere rust- en zitmogelijkheden" @check="true">
                  <h4 class="au-w-criterium-subtitle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                      <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
                    </svg>
                    Foto's:
                  </h4>
                  <ul class="au-w-list-image">
                    <li class="au-w-list-image__item">
                      <AuImage>
                        <img src="/assets/img/tuin/Rustpunt.jpg" alt="">
                      </AuImage>
                    </li>
                  </ul>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Extra aandacht voor akoestiek" @check="true">
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Vitrinetafels, computerschermen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Meerdere onderrijdbare elementen" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Goede verlichting" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Vergrootglas" @check="true">
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Auditorium/filmzaal" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Zitplaatsen bereikbaar" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Extra aandacht voor akoestiek" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Ringleiding in de museumzalen">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Teksten/borden/panelen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Contrast" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Geen reflexie" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Braille">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Grootletterschrift" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="In meerdere talen">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Audiogids">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="In meerdere talen">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Multisensorieel - zintuigen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Voel-elementen" @check="true">
                  <p class="au-w-info-text">vb. aardschok-simulator</p>
                  <h4 class="au-w-criterium-subtitle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                      <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
                    </svg>
                    Foto's:
                  </h4>
                  <ul class="au-w-list-image">
                    <li class="au-w-list-image__item">
                      <AuImage>
                        <img src="/assets/img/tuin/voel-elementen.jpg" alt="">
                      </AuImage>
                    </li>
                  </ul>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Geur-elementen" @check="true">
                  <h4 class="au-w-criterium-subtitle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                      <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
                    </svg>
                    Foto's:
                  </h4>
                  <ul class="au-w-list-image">
                    <li class="au-w-list-image__item">
                      <AuImage>
                        <img src="/assets/img/tuin/Geur-elementen.jpg" alt="">
                      </AuImage>
                    </li>
                  </ul>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Doe-elementen" @check="true">
                  <h4 class="au-w-criterium-subtitle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                      <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
                    </svg>
                    Foto's:
                  </h4>
                  <ul class="au-w-list-image">
                    <li class="au-w-list-image__item">
                      <AuImage>
                        <img src="/assets/img/tuin/Doe-elementen2.jpg" alt="">
                      </AuImage>
                    </li>
                  </ul>
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Luister-elementen" @check="true">
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Andere belevingselementen" @check="true">
              <ul>
                <li>vb. natuurlijke muziekinstrumenten in de tuin</li>
                <li>speurboek voor kinderen (met Plan van de Tuin)</li>
              </ul>
            </AuCriteriaItem>
          </ul>
        </ul>
      </AuModal>
      <AuModal @title="Wisselende expo" @id="{{@id}}tijdelijk" @check="true" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaSection @sectionTitle="Altijd een Zomertentoonstelling …" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaItem @criterium="Rolstoelvriendelijke circulatie" @check="true">
              </AuCriteriaItem>
            </ul>
          </AuCriteriaSection>
        </ul>
      </AuModal>
      <AuModal @title="Rolstoelvriendelijke eet- en drinkgelegenheid" @id="{{@id}}etenendrinken" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Bereikbaar" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Alles op gelijkvloers" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Smalste punt op de route: 80 cm" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Alle tafels gelijk" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Tafel(s): onderrijdbaar" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Vrije hoogte onder tafel: 67 cm"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Vrije diepte onder tafel: 60 cm" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Vrije breedte onder tafel: 80cm" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Elektronische betaalmogelijkheid niet verplaatsbaar">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Geschikt voor grote groepen (met mobiele beperking)" @check="true">
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Zaal_voorGroteGroepen.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Extra aandacht voor akoestiek" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Goed verlichte zones" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Menukaart " @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Duidelijk leesbaar (contrast, lettertype)" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="In grotere letter beschikbaar (punt 14)" @check="true"></AuCriteriaSubitem>
            </ul>
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Menukaart_2.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Extra's voor kinderen aanwezig" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Kinderstoel beschikbaar" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Gebruik van microgolfoven mogelijk" @check="true">
                <p class="au-w-info-text">Geen extra info beschikbaar.</p>
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Terras bij verbruiksruimte" @check="true" @id="{{@id}}terras" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Stilteplek, 'Laad me met Rust'" @check="true"></AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Rolstoelvriendelijke museumshop" @id="{{@id}}shop" @check="true" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Rolstoelvriendelijke circulatie" @check="true">
            <h4 class="au-w-criterium-subtitle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon au-w-icon--faded" aria-hidden="true">
                <path d="M27.5,3.66666667 L30.855,7.33333333 L36.6666667,7.33333333 C38.6925,7.33333333 40.3333333,8.97416667 40.3333333,11 L40.3333333,11 L40.3333333,33 C40.3333333,35.0258333 38.6925,36.6666667 36.6666667,36.6666667 L36.6666667,36.6666667 L7.33333333,36.6666667 C5.3075,36.6666667 3.66666667,35.0258333 3.66666667,33 L3.66666667,33 L3.66666667,11 C3.66666667,8.97416667 5.3075,7.33333333 7.33333333,7.33333333 L7.33333333,7.33333333 L13.375,7.33333333 L16.5,3.66666667 L27.5,3.66666667 Z M22,12.8333333 C16.94,12.8333333 12.8333333,16.94 12.8333333,22 C12.8333333,27.06 16.94,31.1666667 22,31.1666667 C27.06,31.1666667 31.1666667,27.06 31.1666667,22 C31.1666667,16.94 27.06,12.8333333 22,12.8333333 Z M22,16.1333333 C25.2400705,16.1333333 27.8666667,18.7599295 27.8666667,22 C27.8666667,25.2400705 25.2400705,27.8666667 22,27.8666667 C18.7599295,27.8666667 16.1333333,25.2400705 16.1333333,22 C16.1333333,18.7599295 18.7599295,16.1333333 22,16.1333333 Z"/>
              </svg>
              Foto's:
            </h4>
            <ul class="au-w-list-image">
              <li class="au-w-list-image__item">
                <AuImage>
                  <img src="/assets/img/tuin/Museum-shop_Balie.jpg" alt="">
                </AuImage>
              </li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Ruimte tussen rekken" @check="true">
            <p>Smalste punt, 80 cm</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Balie voor afrekenen" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Elektronische betaalmogelijkheid verplaatsbaar" @check="true">
          </AuCriteriaItem>
        </ul>
      </AuModal>
    </li>
  </ul>
  {{# if @minimal}}
  {{else}}
  <div class="au-u-margin-top">
    <AuLightbox @title="Bekijk foto's" @id="{{@id}}fotos" @theme="{{@theme}}">
      {{#carousel-container transitionInterval=400 as |ui controls|}}
        <div class="au-w-carousel">
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Fietsenstalling_Terras.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 1/37</span>
                Fietsenstalling
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Inkom2.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 2/37</span>
                Inkom
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Inkom_drempel.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 3/37</span>
                Inkom drempel
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/kapstokken.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 4/37</span>
                Kapstokken
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Lockers.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 5/37</span>
                Lockers
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Rolstoelvriendelijk_Pad.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 6/37</span>
                Rolstoelvriendelijk pad
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/RolstoelOnvriendelijkPad.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 7/37</span>
                Rolstoelonvriendelijk pad
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Kassei_Pad.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 8/37</span>
                Kassei pad
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/DeTuin_Pad_verhard.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 9/37</span>
                Pad (verhard)
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Circulatie.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 10/37</span>
                Circulatie
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Circulatie_tredes.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 11/37</span>
                Circulatie tredes
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Wastafel_onderrijdbaar.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 12/37</span>
                Wastafel: onderrijdbaar
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Toilet_Niet-Aangepast.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 13/37</span>
                Toilet: niet aangepast
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Toilet_Niet-Aangepast_Geen_Beugels.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 37/37</span>
                Toilet: niet aangepast, geen beugels
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/signalisatie.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 15/37</span>
                Signalisatie
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/serre_inkom.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 16/37</span>
                Serre: inkom
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/serre_doorgang.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 17/37</span>
                Serre: doorgang
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/serre_circulatie2.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 18/37</span>
                Serre: circulatie
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/serre_circulatie.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 19/37</span>
                Serre: circulatie
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Circulatie_Terras_drempel.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 20/37</span>
                Circulatie terras drempel
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Rustpunt.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 21/37</span>
                Rustpunt
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/DeTuin_Kiosk.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 22/37</span>
                Kiosk
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/DeTuin_Impressie.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 23/37</span>
                Impressie
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/DeTuin_Impressie2.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 24/37</span>
                Impressie
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/DeTuin_Beleving.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 25/37</span>
                Beleving
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Beleving_bijen.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 26/37</span>
                Beleving Bijen.
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Geur-elementen.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 27/37</span>
                Geurelementen
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/voel-elementen.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 28/37</span>
                Voel elementen
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Doe-elementen2.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 29/37</span>
                Doe elementen
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Filmzaal.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 30/37</span>
                Filmzaal
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Zaal_voorGroteGroepen.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 31/37</span>
                Zaal voor grote groepen
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/cafetaria.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 32/37</span>
                Cafetaria
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Circulatie_Cafetaria.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 33/37</span>
                Circulatie cafetaria
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Menukaart_2.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 34/37</span>
                Menukaart
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Kinder_Picknick-tafels.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 35/37</span>
                Picknick tafels
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/OnderrijdbareBalie.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 36/37</span>
                Onderrijdbare balie
              </figcaption>
            </figure>
          {{/ui.item}}
          {{#ui.item}}
            <figure class="au-w-carousel__figure">
              <img src="/assets/img/tuin/Museum-shop_Balie.jpg" alt="" class="au-w-carousel__image">
              <figcaption class="au-w-carousel__caption">
                <span class="au-w-carousel__pagination">Foto 37/37</span>
                Museum-shop balie
              </figcaption>
            </figure>
          {{/ui.item}}
        </div>

        <button onclick={{controls.previous}} class="au-w-carousel__button au-w-carousel__button--next">
          <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--large" viewBox="0 0 44 44" aria-hidden="true">
            <polygon points="15.15 1.26 10.312 6.095 25.989 21.76 10.312 37.426 15.15 42.26 35.665 21.76"/>
          </svg>
          <span class="au-u-hidden-visually">Volgende foto</span>
        </button>
        <button onclick={{controls.next}} class="au-w-carousel__button au-w-carousel__button--previous">
          <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--large" viewBox="0 0 44 44" aria-hidden="true">
            <polygon points="33.762 38.426 18.057 22.76 33.762 7.095 28.915 2.26 8.362 22.76 28.915 43.26"/>
          </svg>
          <span class="au-u-hidden-visually">Vorige foto</span>
        </button>
      {{/carousel-container}}
    </AuLightbox>
  </div>
  {{/if}}
  <p class="au-w-footer">Deze informatie is aangeleverd door Toevla. <a href="https://toevla.vlaanderen.be/publiek/nl/register/detail/3147" class="au-w-link au-w-link--neutral">Meer info</a></p>
</section>
