<section class="au-w-container {{@theme}}">
  <div class="au-w-header">
    <h1 class="au-w-header__title">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-w-icon">
        <path d="M19.2396916,0 C8.61373915,0 0,8.61373915 0,19.2396916 C0,29.865644 8.61373915,38.4793832 19.2396916,38.4793832 C29.865644,38.4793832 38.4793832,29.865644 38.4793832,19.2396916 C38.4793832,8.61373915 29.8652582,0 19.2396916,0 Z M18.9479882,3.82108309 C20.3262482,3.82108309 21.4421295,4.93657851 21.4421295,6.30596394 C21.4421295,7.68422394 20.3262482,8.79971936 18.9479882,8.79971936 C17.5793745,8.79971936 16.463879,7.68383809 16.4631073,6.30596394 C16.4631073,4.93657851 17.5786028,3.82108309 18.9479882,3.82108309 Z M29.7298245,11.8564315 L22.3276577,12.7917345 L22.3307445,20.2016183 L25.9168443,32.1726476 C26.1062971,32.9285298 25.6517646,33.6847979 24.9039852,33.8715498 C24.1565917,34.0583017 23.3922207,33.6465986 23.2039254,32.8907164 L19.5302374,21.9935106 L18.3989221,21.9935106 L15.0192527,33.1168251 C14.7364238,33.842611 13.9280659,34.1763721 13.2030517,33.8935433 C12.4849829,33.6134154 12.0466561,32.7961829 12.3298707,32.070397 L15.4340426,20.3227755 L15.4340426,12.7917345 L8.61451085,11.8637627 C7.91457702,11.8074284 7.43920851,11.1912243 7.49631447,10.4912904 C7.54763266,9.78595468 8.18428691,9.26235479 8.88383489,9.31868904 L17.1692148,10.0321277 L20.8027743,10.0321277 L29.6256447,9.3047984 C30.3267361,9.27663128 30.9209467,9.82183883 30.9444836,10.5283321 C30.9726507,11.2298094 30.4313017,11.8274927 29.7298245,11.8564315 Z" transform="translate(2.75 2.5)"/>
      </svg>
      {{@title}}
    </h1>
    {{#if @category}}
    <p class="au-w-header__info">
      <span class="au-w-header__rating">{{@category}}</span> {{#if @rating}}<span class="au-w-header__rating au-w-header__rating--base">{{@rating}}</span>{{/if}}
    </p>
    {{/if}}
  </div>
  <ul class="au-w-grid au-w-grid--divider au-u-margin-bottom-small">
    <li class="au-w-grid__item">
      <h2 class="au-w-hidden-visually">Om er te geraken</h2>
      <AuModal @title="Openbaar vervoer" @id="{{@id}}openbaar-vervoer" @theme="{{@theme}}">
        <p class="au-w-info">
          Deze locatie is bereikbaar met het openbaar vervoer.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Halte aanwezig binnen 500 m" @check="true">
            <ul>
              <li>Bus: De Lijn, nr 6, tpv Bijlokehof op 350 m</li>
              <li>ram: 2 en 4, afstand 400 m</li>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Toegankelijke halte" @info="true">
            <p><a href="https://www.delijn.be/nl/routeplanner/">De Lijn routeplanner</a></p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijk pad naar inkom">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Slechte ondergrond">
                <p>Kasseien aan bushalte</p>
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Smalste punt op de route: 70 cm">
                <p>Fietsenstallingen versmallen de route</p>
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Drempel van meer dan 2 cm, nml 3 cm">
                Er zijn 2 drempels (boordstenen) van 2 cm
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Voorbehouden parkeerplaats" @id="{{@id}}parkeerplaats" @check="true" @theme="{{@theme}}">
        <p class="au-w-info au-w-info--icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="au-w-icon au-w-icon--alert">
            <path d="M9.82394213,24.1189444 L13.193581,27.4885162 C12.2698102,28.8463472 11.7290139,30.4845787 11.7290139,32.2471343 C11.7290139,36.9239213 15.5339213,40.7288287 20.2107083,40.7288287 C21.9731296,40.7288287 23.6113611,40.187831 24.969125,39.2643287 L24.969125,39.2643287 L28.3386968,42.6337662 C26.0981782,44.3896088 23.2779282,45.4392477 20.2107083,45.4392477 C12.924794,45.4392477 7.01852778,39.5330486 7.01852778,32.2471343 C7.01852778,29.1800486 8.06816667,26.3595301 9.82394213,24.1189444 L9.82394213,24.1189444 Z M18.8036713,4.76278704 C19.6360787,4.02033333 20.8515278,3.89688194 21.8161134,4.45721296 C21.8161134,4.45721296 33.6287801,11.3194722 33.6475093,11.332831 C34.2573148,11.7138588 34.6542523,12.3102384 34.7981111,12.9656921 C35.0707245,13.9222222 34.8692685,14.9926713 34.1641389,15.7956759 L34.1641389,15.7956759 L29.2144699,21.4328866 L38.2085648,20.9322338 C38.9516898,20.8915532 39.6789051,21.1734977 40.1993611,21.7075139 C40.7195486,22.2413958 40.9833681,22.9743171 40.9226829,23.7175093 L40.9226829,23.7175093 L39.8356528,37.0551597 C39.7258287,38.4035926 38.597044,39.4252384 37.2674745,39.4252384 C37.1971898,39.4252384 37.1262338,39.4224861 37.0551435,39.416713 C35.6351505,39.3007801 34.5777245,38.0559954 34.6935231,36.6360694 L34.6935231,36.6360694 L35.5404306,26.2477593 L32.0590208,26.4416968 C32.9190185,28.1936458 33.4026875,30.1638333 33.4026875,32.2472014 C33.4026875,35.7441181 32.0398218,38.9205579 29.8191736,41.2812384 L29.8191736,41.2812384 L26.4857176,37.947581 C27.8558333,36.440588 28.6922014,34.4397894 28.6922014,32.2472014 C28.6922014,27.5704144 24.8873611,23.7655069 20.2106412,23.7655069 C18.0180532,23.7655069 16.0171204,24.601875 14.5101273,25.972125 L14.5101273,25.972125 L11.1764699,22.6384676 C13.0461644,20.8797384 15.4279236,19.6599259 18.0750463,19.2282153 L18.0750463,19.2282153 L24.4588056,11.9577407 L20.8422639,9.85759028 L16.4675602,13.7599028 C15.4044954,14.7085116 13.7738495,14.6151343 12.8254421,13.5520694 C11.8771019,12.4888704 11.9702106,10.8582917 13.0333426,9.91001852 L13.0333426,9.91001852 Z M35.4216111,2.02148148 C37.8062569,2.02148148 39.7391875,3.95481481 39.7391875,6.33946065 C39.7391875,8.72424074 37.8062569,10.6573727 35.4216111,10.6573727 C33.0366296,10.6573727 31.1036319,8.72424074 31.1036319,6.33946065 C31.1036319,3.95481481 33.0366968,2.02148148 35.4216111,2.02148148 Z"/>
          </svg>
          Er is minstens één voorbehouden parkeerplaats met rolstoelvriendelijke ondergrond bij het uitstappen.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="1 voorbehouden parkeerplaats" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Geen eigen parkeerterrein"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Op publiek domein" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijke ondergrond" @check="true">
            <p>Klinkers</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Achter elkaar parkeren: 600 cm lengte" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijk pad naar de inkom">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Rolstoelvriendelijke ondergrond" @check="true">
                <p>Beton</p>
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Smalste punt op de route: 120 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Lang hellend vlak 29 m (percentage 3,3 %)">
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Voorrijdmogelijkheid" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Goede verlichting op de route">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Fietsenstalling" @id="{{@id}}fietstenstalling" @check="true" @theme="{{@theme}}">
        <p class="au-w-info-text">Geen extra info beschikbaar.</p>
      </AuModal>
    </li>
    <li class="au-w-grid__item">
      <h2 class="au-w-hidden-visually">Algemene info en infrastructuur</h2>
      <AuModal @title="Museum - Bezoekersinfo" @id="{{@id}}bezoekersinfo" @theme="{{@theme}}" @info="true">
        <p class="au-w-info">
          Algemene Info & Tegemoetkomingen.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Begeleiding van aan het openbaar vervoer mogelijk">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Tegemoetkoming toegangsprijs" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Begeleider gratis" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Museumpas" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Uitpas (punten scannen)" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="City Pas Gent" @check="true">
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoel ter beschikking" @check="true">
            <p>Ja, 2 reserveren via <a href="mailto:info@stamgent.be">info@stamgent.be</a></p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Wifi niet beschikbaar">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Geen voorzieningen voor assistentiehonden">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Elektronische betaalmogelijkheid niet verplaatsbaar">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Website" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Tekstvergroting mogelijk" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Contrasten" @check="true">
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Inkom" @id="{{@id}}inkom" @check="true" @theme="{{@theme}}">
        <p class="au-w-info au-w-info--icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  class="au-w-icon au-w-icon--alert">
            <path d="M9.82394213,24.1189444 L13.193581,27.4885162 C12.2698102,28.8463472 11.7290139,30.4845787 11.7290139,32.2471343 C11.7290139,36.9239213 15.5339213,40.7288287 20.2107083,40.7288287 C21.9731296,40.7288287 23.6113611,40.187831 24.969125,39.2643287 L24.969125,39.2643287 L28.3386968,42.6337662 C26.0981782,44.3896088 23.2779282,45.4392477 20.2107083,45.4392477 C12.924794,45.4392477 7.01852778,39.5330486 7.01852778,32.2471343 C7.01852778,29.1800486 8.06816667,26.3595301 9.82394213,24.1189444 L9.82394213,24.1189444 Z M18.8036713,4.76278704 C19.6360787,4.02033333 20.8515278,3.89688194 21.8161134,4.45721296 C21.8161134,4.45721296 33.6287801,11.3194722 33.6475093,11.332831 C34.2573148,11.7138588 34.6542523,12.3102384 34.7981111,12.9656921 C35.0707245,13.9222222 34.8692685,14.9926713 34.1641389,15.7956759 L34.1641389,15.7956759 L29.2144699,21.4328866 L38.2085648,20.9322338 C38.9516898,20.8915532 39.6789051,21.1734977 40.1993611,21.7075139 C40.7195486,22.2413958 40.9833681,22.9743171 40.9226829,23.7175093 L40.9226829,23.7175093 L39.8356528,37.0551597 C39.7258287,38.4035926 38.597044,39.4252384 37.2674745,39.4252384 C37.1971898,39.4252384 37.1262338,39.4224861 37.0551435,39.416713 C35.6351505,39.3007801 34.5777245,38.0559954 34.6935231,36.6360694 L34.6935231,36.6360694 L35.5404306,26.2477593 L32.0590208,26.4416968 C32.9190185,28.1936458 33.4026875,30.1638333 33.4026875,32.2472014 C33.4026875,35.7441181 32.0398218,38.9205579 29.8191736,41.2812384 L29.8191736,41.2812384 L26.4857176,37.947581 C27.8558333,36.440588 28.6922014,34.4397894 28.6922014,32.2472014 C28.6922014,27.5704144 24.8873611,23.7655069 20.2106412,23.7655069 C18.0180532,23.7655069 16.0171204,24.601875 14.5101273,25.972125 L14.5101273,25.972125 L11.1764699,22.6384676 C13.0461644,20.8797384 15.4279236,19.6599259 18.0750463,19.2282153 L18.0750463,19.2282153 L24.4588056,11.9577407 L20.8422639,9.85759028 L16.4675602,13.7599028 C15.4044954,14.7085116 13.7738495,14.6151343 12.8254421,13.5520694 C11.8771019,12.4888704 11.9702106,10.8582917 13.0333426,9.91001852 L13.0333426,9.91001852 Z M35.4216111,2.02148148 C37.8062569,2.02148148 39.7391875,3.95481481 39.7391875,6.33946065 C39.7391875,8.72424074 37.8062569,10.6573727 35.4216111,10.6573727 C33.0366296,10.6573727 31.1036319,8.72424074 31.1036319,6.33946065 C31.1036319,3.95481481 33.0366968,2.02148148 35.4216111,2.02148148 Z"/>
          </svg>
          De inkombreedte is minstens 85 cm met max 1 trede van 10 cm.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Rolstoelvriendelijke inkom" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Bereikbaar" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Geen drempel" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Deurbreedte 155 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Draairuimte aan deur 150 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Balie: laag deel aanwezig" @check="true">
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Toegang duidelijk herkenbaar" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Gids- en/of geleidelijnen">
            <p>Aanwezig maar bedekt door de voetmat.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Geen duidelijke markering op glazen deuren">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Bemande balie" @check="true">
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Toilet" @id="{{@id}}toilet" @check="true" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Rolstoelvriendelijk toilet">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Aanwezig" @check="true">
                <p>Er zijn 2 toiletten, dit is het toilet vlakbij cafe en aan de algemene inkom.</p>
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Bereikbaar" @check="true">
                <ul class="au-w-criterium-list">
                  <AuCriteriaSubitem @criterium="Alles op gelijkvloers" @check="true"></AuCriteriaSubitem>
                  <AuCriteriaSubitem @criterium="Geen drempel" @check="true"></AuCriteriaSubitem>
                </ul>
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Deurbreedte 86 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Draairuimte aan deur 150 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Ruimte voor toiletpot 120 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Ruimte naast toiletpot 90 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Draairuimte in het toilet 150 cm" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="2 steunbeugels" @check="true">
              </AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Onderrijdbare wastafel " @check="true">
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Museum - Circulatie in het gebouw" @id="{{@id}}museumRondgang" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          Je kan het merendeel van de bedoelde activiteiten uitvoeren, met jouw beperking.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Bereikbaar" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Rolstoelvriendelijke lift" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Afmeting lift, , breedte 130 cm x diepte 190 cm" @check="true">
                <p>Route is lusvormig, kleinste lift ingeven, vermelding 130 cm x 190 cm (B x D), de kleinste lift nemen vermits de route hier lusvormig is.</p>
              </AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Spraaksynthese in de lift">
            <p class="au-w-info-text">Geen extra info beschikbaar.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Smalste punt op de route: 87 cm" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Hellend vlak" @check="true">
            <p>Meerdere hellende vlakken, 4.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="De te volgen route is logisch en eenvoudig opgebouwd" @check="true">
            <p>Duidelijk parcours met rode pijlen en nummering en tekstbordjes bij elke stopplaats.</p>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Duidelijke signalisatie in het gebouw" @check="true">
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Wisselende expo - Circulatie in het gebouw" @id="{{@id}}museumRondgang" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          Je kan het merendeel van de bedoelde activiteiten uitvoeren, met jouw beperking.
        </p>
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Bereikbaar" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Alles op gelijkvloers" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Smalste punt op de route: 87 cm" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Hellend vlak" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Plateaulift" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Afmeting plateaulift, 116 cm (B) x 142 cm (D)" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
    </li>
    <li class="au-w-grid__item">
      <h2 class="au-w-hidden-visually">Beleving</h2>
      <AuModal @title="Museum - Beleving" @id="{{@id}}beleving" @check="true" @theme="{{@theme}}">
        <p class="au-w-info">
          Je kan genieten van volgende voorzieningen.
        </p>
        <ul class="au-w-criterium-section-list">
          <ul class="au-w-criterium-list">
            <AuCriteriaItem @criterium="Rondleidingen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Voor personen met een visuele beperking" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Kindvriendelijk" @check="true">
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Museum route en zalen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Duidelijke bewegwijzering op de route" @check="true">
                </AuCriteriaSubitem>
                <AuCriteriaSubitem @criterium="Meerdere rust- en zitmogelijkheden">
                  <p>Enkel bij zaal 0 "Gent vandaag".</p>
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Vitrinetafels, computerschermen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Meerdere onderrijdbare elementen">
                  <p class="au-w-info-text">Geen extra info beschikbaar.</p>
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Audiogids, virtuele technologie">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Virtuele technologie">
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
            <AuCriteriaItem @criterium="Multisensorieel - zintuigen" @check="true">
              <ul class="au-w-criterium-list">
                <AuCriteriaSubitem @criterium="Luister-elementen" @check="true">
                </AuCriteriaSubitem>
              </ul>
            </AuCriteriaItem>
          </ul>
        </ul>
      </AuModal>
      <AuModal @title="Verbruiksruimte STAM-café" @check="true" @id="{{@id}}etenendrinken" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Bereikbaar" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Alles op gelijkvloers" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Smalste punt op de route: 120 cm" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Drempel van max 2 cm, nml 1 cm" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Bereikbaarheid beste tafel" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Smalste punt op de route 120 cm"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Geen drempel" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Alle tafels gelijk" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Tafel: onderrijdbaar" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Goed verlichte zones" @check="true">
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Menukaart" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Duidelijk leesbaar (contrast, lettertype)"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium="Digitaal beschikbaar l" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Aangepaste maaltijden beschikbaar" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Informatie over ingrediënten en allergenen beschikbaar op vraag"></AuCriteriaSubitem>

            </ul>
          </AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Terras bij verbruiksruimte" @id="{{@id}}terras" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Bereikbaar">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Smalste punt op de route: 120 cm" @check="true"></AuCriteriaSubitem>
              <AuCriteriaSubitem @criterium=" Drempel van meer dan 2 cm, nml 3 cm"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Bereikbaarheid beste tafel" @check="true"></AuCriteriaItem>
          <AuCriteriaItem @criterium="Alle tafels gelijk" @check="true"></AuCriteriaItem>
          <AuCriteriaItem @criterium="Tafel: onderrijdbaar" @check="true"></AuCriteriaItem>
        </ul>
      </AuModal>
      <AuModal @title="Museumshop" @id="{{@id}}shop" @check="true" @theme="{{@theme}}">
        <ul class="au-w-criterium-list">
          <AuCriteriaItem @criterium="Rolstoelvriendelijke circulatie" @check="true">
            <ul class="au-w-criterium-list">
              <AuCriteriaSubitem @criterium="Ruimte tussen rekken = smalste punt" @check="true"></AuCriteriaSubitem>
            </ul>
          </AuCriteriaItem>
          <AuCriteriaItem @criterium="Balie voor afrekenen" @check="true">
          </AuCriteriaItem>
        </ul>
      </AuModal>
    </li>
  </ul>
  <p class="au-w-footer">Deze informatie is aangeleverd door Toevla. <a href="https://toevla.vlaanderen.be/publiek/nl/register/detail/3147" class="au-w-link au-w-link--neutral">Meer info</a></p>
</section>
