<AuCriteriaItem @criterium={{@node.title}} @check={{this.value}}>
  {{#if this.value}}
    {{#if @node.positiveTemplateString}}
        <p class="au-w-info-text">
          {{@node.positiveTemplateString}}
        </p>
    {{/if}}
  {{else}}
    {{#if @node.negativeTemplateString}}
        <p class="au-w-info-text">
          {{@node.negativeTemplateString}}
        </p>
    {{/if}}
  {{/if}}

</AuCriteriaItem>