<AuCriteriaItem @criterium={{@node.title}} @check={{this.value}}>
  <p class="au-w-info-text">
    {{#if this.value}}
      {{#if @node.positiveTemplateString}}
          {{@node.positiveTemplateString}}
      {{/if}}
    {{else}}
      {{#if @node.negativeTemplateString}}
          {{@node.negativeTemplateString}}
      {{/if}}
    {{/if}}
  </p>
</AuCriteriaItem>