<Criteria::SelectStringCriterion
  @value={{this.value}}
  @treeNode={{@node}}
  as |label check score|>
  {{#if (or label @etns.hasComment)}}
    <AuCriteriaInline @criterium={{@node.title}} @score={{score}} @etns={{@etns}} @renderComment={{false}} />
    <p class="au-w-info-text au-w-info-text--inline">
      {{label}}
    </p>
    <AuCriteriaInline::Comment @etns={{@etns}} />
  {{/if}}
</Criteria::SelectStringCriterion>